<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>US</key>
	<dict>
		<key>name</key>
		<string>United States</string>
		<key>distance_unit</key>
		<string>Miles</string>
		<key>volume_unit</key>
		<string>Gallons</string>
		<key>efficiency_unit</key>
		<string>MPG</string>
		<key>order</key>
		<string>0</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>name</key>
		<string>Puerto Rico</string>
		<key>distance_unit</key>
		<string>Miles</string>
		<key>volume_unit</key>
		<string>Liters</string>
		<key>efficiency_unit</key>
		<string>MPG</string>
		<key>order</key>
		<string>1</string>
	</dict>
</dict>
</plist>
