<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VolumeUnits</key>
	<dict>
		<key>gallon</key>
		<dict>
			<key>unit</key>
			<string>gal</string>
			<key>alias</key>
			<string>gallon</string>
			<key>name</key>
			<string>Gallon</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>imperial_gallon</key>
		<dict>
			<key>unit</key>
			<string>gal</string>
			<key>alias</key>
			<string>gallon</string>
			<key>name</key>
			<string>Imperial Gallon</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<key>liter</key>
		<dict>
			<key>unit</key>
			<string>L</string>
			<key>alias</key>
			<string>liter</string>
			<key>name</key>
			<string>Liter</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
